{% extends "plantilla_base.html" %}
{% block title %}Home{% endblock %}
{% block name %}Inicio{% endblock %}
{% block content %}
<body>
    <a class="volver" href="{{url_for('home')}}">Cerra Sesion</a>

    <div class="prueba">
        <header style="display: flex; justify-content: center;">
            <div class="contenedorE" id="Registro">
                <a href="{{url_for('AdminAd')}}"><p class="texto">Listas</p></a>
            </div>
            <div class="contenedorE" id="Lista">
                <a href="{{url_for('registrar')}}"><p class="texto">Registrar</p></a>
            </div>
        </header>
    </div>
</body>
{% endblock %}
