{% extends "plantilla_base.html" %}
{% block title %}Registro de Visitante{% endblock %}
{% block name %}Registro de Visitante{% endblock %}
{% block content %}
<div class="formulario">
    <a class="volver" href="{{url_for('registrarUsu')}}">Volver</a>
    <form action="RegistroVisitante" method="POST">
        <div class="campo">
            <input type="text" name="nombresVisitante" id="nombresVisitanteid">
            <label>Nombres</label>
        </div>
        <div class="campo">
            <input type="text" name="apellidosVisitante" id="apellidosVisitanteid">
            <label>Apellidos</label>
        </div>
        <div class="campo">
            <input type="password" name="cedula" id="cedulaid">
            <label>Cedula</label>
        </div>
        <script src="{{url_for('static', filename='./js/mostrarContra.js')}}"></script>
        <button class="btn" onclick="validarFormularioVisitantes()">Registrar</button>
    </form>
</div>
</body>

{% endblock %}