{% extends "plantilla_base.html" %}
{% block title %}Registro de Vehiculo{% endblock %}
{% block name %}Registro de Vehiculo{% endblock %}
{% block content %}
<div class="formulario">
    <a class="volver" href="{{url_for('registrarUsu')}}">Volver</a>
    <form action="RegistroVehiculo" method="POST">
        <div class="campo">
            <input type="text" name="cedulaDueño" id="cedulaDueñoid">
            <label>Cedula Dueño</label>
        </div>
        <div class="campo">
            <input type="text" name="placa" maxlength="6" oninput="this.value = this.value.toUpperCase()" pattern="^(?=(?:\D*\d){2})(?=(?:[^0-9]*[a-zA-Z]){3})[a-zA-Z0-9]{6}$" required>
        </div>
        <div class="campo">
            <input type="text" name="tipo" id="tipoid">
            <label>Tipo</label>
        </div>
        <script src="{{url_for('static', filename='./js/mostrarContra.js')}}"></script>
        <button class="btn" onclick="validarFormularioVehiculo()">Registrar</button>
    </form>
</div>
</body>

{% endblock %}