{% extends "plantilla_base.html" %}
{% block title %}Home{% endblock %}
{% block name %}Inicio{% endblock %}
{% block content %}
<body>
    <a class="volver" href="{{url_for('eleccionUsu')}}">Volver</a>

    <div class="prueba">
        
        <header>
            <div class="contenedor" id="dos">
                <a href="/RegistroVisitanteUsu"><p class="texto">Visitantes</p></a>
            </div>
            <div class="contenedor" id="tres">
                <a href="RegistroVehiculoUsu"><p class="texto">Vehiculos</p></a>
            </div>
            <div class="contenedor" id="cuatro">
                <a href="RegistroArtefactosExternosUsu"><p class="texto">Artefactos Externos</p></a>
            </div>
            <div class="contenedor" id="cinco">
                <a href="/RegistroEstadoVisiUsu"><p class="texto">Estado Visitante</p></a>
            </div>
            
        </header>
    </div>
</body>
{% endblock %}
